@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Nunito Sans', sans-serif;
}

.ant-picker-footer .ant-picker-ranges .ant-picker-ok button {
    color: black;
}

thead[class*="ant-table-thead"] th {
    background-color: #28153c42 !important;
}